@charset "UTF-8";

@import url('fonts.css');

:root {
  --nav-bar-background-color: #111111;
  --nav-bar-foreground-color: #E1E1E1;
  --nav-bar-brand-font-family: 'Playfair Display', serif;
  --nav-bar-brand-font-weight: 900;
  --nav-bar-brand-font-size: 2.5rem;
}

p {
  font-size: 1rem;
}

.component-container {
  margin: 0 auto;
  margin-top: 35px;
  max-width: min(900px, 80%);
}
