.view-menu-container {
  margin: 0 auto;
  margin-top: 35px;
  max-width: min(1200px, 90%);
}

.view-menu {
  display: flex;
  flex-direction: row;
}

.view-menu .view-menu-collection:nth-child(2) {
  padding: 0 60px;
}

@media screen and (max-width: 1310px) {
  .view-menu-container {
    max-width: min(650px, 80%);
  }

  .view-menu {
    flex-direction: column;
  }

  .view-menu .view-menu-collection:nth-child(2) {
    padding: 0;
  }
}

.view-menu .view-menu-collection {
  flex-grow: 1;
  flex-basis: 0;
}

.view-menu h2 {
  padding-bottom: 20px;
}

.view-menu-item-heading {
  display: flex;
  justify-content: space-between;
}

.view-menu-loading-element-heading {
  height: 28px;
  background: #f4f4f4;
}

.view-menu-loading-element-body {
  margin: 16px 0;
  height: 18px;
  background: #f4f4f4;
}

.gradient {
  animation-duration: 1.8s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: gradient-animation;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #e8e9e9 8%, #f4f4f4 38%, #e8e9e9 54%);
  background-size: 1000px 640px;
  position: relative;
}

@keyframes gradient-animation {
  0% { background-position: -468px 0 }
  100% { background-position: 468px 0 }
}
