.loading-card-heading {
  height: 28px;
  background: #f4f4f4;
}

.loading-card-body {
  margin: 16px 0;
  height: 36px;
  background: #f4f4f4;
}

.gradient {
  animation-duration: 1.8s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: gradient-animation;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #e8e9e9 8%, #f4f4f4 38%, #e8e9e9 54%);
  background-size: 1000px 640px;
  position: relative;
}

@keyframes gradient-animation {
  0% { background-position: -468px 0 }
  100% { background-position: 468px 0 }
}
