.forgot-password-form {
  max-width: 420px;
  margin: 0 auto;
}

.forgot-password-footer {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.forgot-password-reset-button {
  height: 50px;
}
