.table-list-row {
  border: 1px solid red;
  border-radius: 4px;
  margin: 20px 0;
}

.table-list-row-contents {
  display: flex;
}

.table-list-row-contents label {
  width: 100%;
  padding: 1rem;
}

/* Hide the browser's default checkbox */
.table-list-row-contents label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}


